.menu__vertical {
	left: 0;
	width: 250px;
}
.menu__vertical ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
.menu__vertical summary,
.menu__vertical ul li a {
    background: var(--color1);
    padding: 0.1rem 0.5rem;
    color: #fff;
    text-decoration: none;
    font-size: 1rem;
    font-weight: 500;
    text-align: left;
}
.menu__vertical ul li a {
    display: block;
}
.menu__vertical ul li a:hover {
    background: var(--gray);
}
.menu__vertical ul li a.active {
    color: var(--color1);
    background: #303030;
}

.menu__vertical ul li a{
    display: block;
    background: #fff;
    background: #ffffff33;
    border-bottom: solid 1px #cccccc33;
    padding: 0.1rem 0.5rem;
    color: #fff;
    line-height: 1rem;
}
.menu__vertical ul li ul li a {
    background: #444;
    border-left: 4px solid transparent;
    padding: 10px 20px;
}
.menu__vertical ul li ul li a:hover {
    background: #333;
    border-left: 4px solid var(--color1);
}
.right {
    float: right;
}
.left {
    float: left;
}

