@media (max-width: 1200px) {
  :root {
    --font-size: 1rem;
  }
  .container__small,
  .container__medium,
  .container__slide {
    min-width: 100%;
    padding: 0 0.5em !important;
    /*margin: 0em auto !important;*/
  }
  .container {
    min-width: 100%;
    padding: 2em !important;
    /*margin: 0em auto !important;*/
  }
  article {
    box-shadow: none !important;
    padding: 0.5rem !important;
    margin: 0rem;
  }
}

@media (max-width: 850px) {
  .container__small,
  .container__medium,
  .container__slide {
    padding: 0 0.1em;
  }
}
